.QRcode {
  display: flex;
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
      width: 300px;
    }
    button {
      margin-top: 20px;
      border: 1px solid black;
      border-radius: 16px;
      padding: 10px;
      transition: 0.2s;
      &:hover {
        transform: scale(1.03);
      }
      a {
        text-decoration: none;
        color: rgb(5, 5, 5);
      }
    }
  }
}
