.nav_block {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width: 72px;
  height: 72px;
}

@media (max-width: 480px) {
  .nav_block {
    padding-left: 12px;
    padding-right: 12px;
  }
}
