.abount_us {
	margin-top: 100px;
	padding-bottom: 50px;
	background-color: #efeeea;
}

.abount_us_block h1 {
	text-align: center;
	padding: 100px 0;
	font-weight: 600;
	font-size: 40px;
}

.abount_us_container {
	display: flex;
	justify-content: space-around;
}

.abount_us_info {
	margin-top: 25px;
}

.abount_us_info div {
	margin: 20px 0;
}

.QRcode img {
	width: 300px;
}

.logo img {
	width: 100px;
	height: 100px;
}

.abount_us_info button {
	padding: 10px 15px;
	a {
		text-decoration: none;
		color: white;
	}
}
