.search {
    width: 20vw;
    padding: 8px;
    font-size: 1.3rem;
    color: rgb(99, 99, 99);
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn_search {
    width: 5vw;
    padding: 11px;
    border: 1px solid rgb(89, 89, 230);
    border-radius: 10px;
    background-color: transparent;
}

.autocomplete {
    width: 20vw;
    background: #ffff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.autocompleteItems {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 5px;
    cursor: pointer;
}

.autocompleteItems:hover {
    background: rgb(228, 226, 226);
}