.header {
	padding-top: 100px;
	padding-bottom: 300px;
	background-image: url('media/header.png');
	background-size: cover;
	background-position: center;
}

.header h1 {
	text-align: center;
	font-weight: 600;
	font-size: 48px;
	color: white;
	margin-bottom: 100px;
}

.feader_form {
	text-align: center;
}
